html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}
#navbar {
    margin:0;
    padding: 5px 0;
    width: 100%;
    height:50px;
    position:sticky;
    background-color: white;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.1) ;
    top: 0;
    left: 0;
}
#navbar ul {
    display: flex;
    margin: 10px 0 10px auto;
    width: 55%;
    justify-content: space-evenly;
    list-style: none;
}
#navbar ul li a {
    margin-left: 10px;
    color:black;
    opacity: 0.7;
    font-size: 1.2rem;
    font-family:"Poppins",Arial, Helvetica, sans-serif ;
    text-decoration: none;
}
#navbar ul li a:hover {
    color: rgb(0, 78, 104);
    opacity: 1;
    text-decoration: underline;
    transition: all 0.15s;
}
#intro-section {
    height: 300px;
    background-image: url(https://wallpapercave.com/wp/wp1828925.png);
    background-size: cover;
    background-position: 50%;
}   
#krzysztof {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
#welcome-section {
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}   
.message {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-size: 1.5rem;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    text-align: center;
}
section:not(#intro-section,#welcome-section,#contact-section) {
    margin-top: 1rem;
    padding-top: 2rem;
}

.section-heading {
    font-size: 2rem;
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}
#krzysztof2 {
    border-radius: 10px;
}
div.my-information {
    display: block;
    font-size: 1.5rem;
    width:500px;
    text-align: left;
    
}
#skills-section{
    background-color: black;
    color:white;
    padding-bottom: 16px;
    
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    width:80%;
    justify-content: center;
}
.skill-information {
    padding: 2rem;
    text-align: center;
}
.skill-name {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}
.skill-information progress {
    background-color: white;
    border:  1px solid white;
}
.skill-information progress::-webkit-progress-value{
    background-color: white;
    border-radius: 0;
}
.skill-information progress::-webkit-progress-bar{
    background-color: black;
}
    
section#courses-section{
    background-color: rgb(240, 238, 238);
    margin-top: 0;
    padding-bottom: 48px;
    
}
.certification1 {
    display: flex;
    width: 60%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    padding:18px;
    
}
.obrazekc {
    padding:24px;
    
}
.course-header {
    margin-bottom: 4px;
}
.cdesc1 {
    margin:0;
}
#contact-section {
    background-color: black;
    color: white;
    padding:50px;
    text-align: center;
}
#contact-section a {
    margin-right: 20px;
    color: white;
    
}